<!-- Page content -->
<div class="container-fluid flex-grow-1 container-p-y">
    <h4 class="font-weight-bold py-3 mb-4">
        <span class="text-muted font-weight-light">보험상품(다이렉트) /</span> 추천 상품
    </h4>
    <div class="input-group mb-3">
        <input id="product_idx" type="number" class="form-control" placeholder="상품 고유번호를 입력하세요.">
        <span class="input-group-append">
          <button id="btn_search" class="btn btn-secondary" type="button">추가</button>
        </span>
    </div>
    <div id="recommend_list" class="row">
        <div class="card" style="width:100%">
            <div class="card-header">추천 상품 목록</div>
            <table class="table card-table">
                <thead class="thead-light">
                    <tr>
                        <th>#</th>
                        <th>고유번호</th>
                        <th>보험사</th>
                        <th>구분</th>
                        <th>상품명</th>
                        <th>URL</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="sort_list">
                    
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- / Page content -->