<!-- Page content -->
<div class="container-fluid flex-grow-1 container-p-y">
    <h4 class="font-weight-bold py-3 mb-4">
        <span class="text-muted font-weight-light">설정 /</span> 사이트맵
    </h4>
    <div class="text-right mt-3 mb-3">
        <button id="btn_submit" type="button" class="btn btn-primary">사이트맵 생성</button>
    </div>
    <!--포스팅 내용-->
    <div class="card mb-4">
        <h6 class="card-header">
        sitemap.xml
        </h6>
        <div  class="card-body">
            <textarea id="sitemap-code" class="form-control" rows="100">

            </textarea>
        </div>
    </div>
</div>
<!-- / Page content -->