
<!DOCTYPE html>

<html lang="ko" class="light-style">

<head>
  <title>GA 포털 통합관리자</title>

  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  <link rel="icon" type="image/x-icon" href="favicon.ico">

  <!-- Icon fonts -->
  <link rel="stylesheet" href="/assets/vendor/fonts/fontawesome.css">
  <link rel="stylesheet" href="/assets/vendor/fonts/ionicons.css">
  <link rel="stylesheet" href="/assets/vendor/fonts/linearicons.css">
  <link rel="stylesheet" href="/assets/vendor/fonts/open-iconic.css">
  <link rel="stylesheet" href="/assets/vendor/fonts/pe-icon-7-stroke.css">

  <!-- Core stylesheets -->
  <link rel="stylesheet" href="/assets/vendor/css/rtl/bootstrap.css" class="theme-settings-bootstrap-css">
  <link rel="stylesheet" href="/assets/vendor/css/rtl/appwork.css" class="theme-settings-appwork-css">
  <link rel="stylesheet" href="/assets/vendor/css/rtl/theme-corporate.css" class="theme-settings-theme-css">
  <link rel="stylesheet" href="/assets/vendor/css/rtl/colors.css" class="theme-settings-colors-css">
  <link rel="stylesheet" href="/assets/vendor/css/rtl/uikit.css">

  <script src="/assets/vendor/libs/jquery/jquery-3.6.3.min.js"></script>

  <!-- Libs -->
  <link rel="stylesheet" href="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css">
  <!-- Page -->
  <link rel="stylesheet" href="/assets/vendor/css/pages/authentication.css">
  <style>
    .animated-gradient {
      animation: animateBg 5s linear infinite;
      background-image: linear-gradient(90deg,#009591,#007573,#004745,#009591,#007573);
      background-size: 400% 100%;
    }
    @keyframes animateBg {
      0% { background-position: 0% 0%; }
      100% { background-position: 100% 0%; }
    }
  </style>
</head>

<body>
  <div class="page-loader">
    <div class="bg-primary"></div>
  </div>

  <!-- Content -->

  <div class="authentication-wrapper authentication-2 ui-bg-cover ui-bg-overlay-container px-4 animated-gradient">
    <div class="ui-bg-overlay bg-dark opacity-25"></div>

    <div class="authentication-inner py-5">

      <div class="card">
        <div class="p-4 p-sm-5">
          <!-- Logo -->
          <div class="d-flex justify-content-center align-items-center pb-2 mb-4">
            <img src="/assets/logo.png" style="width: 150px" />
          </div>
          <!-- / Logo -->

          <h5 class="text-center text-muted font-weight-normal mb-4">GA 포털 통합 관리자</h5>

          <!-- Form -->
          <form>
            <div class="form-group">
              <label class="form-label">ID</label>
              <input id="id" type="text" class="form-control">
            </div>
            <div class="form-group">
              <label class="form-label d-flex justify-content-between align-items-end">
                <div>Password</div>
              </label>
              <input id="password" type="password" class="form-control">
            </div>
            <div class="d-flex justify-content-between align-items-center m-0">
              <label class="custom-control custom-checkbox m-0">
                <input type="checkbox" class="custom-control-input">
              </label>
              <button id="btn_login" type="button" class="btn btn-primary">로그인</button>
            </div>
          </form>
          <!-- / Form -->

        </div>
      </div>

    </div>
  </div>

  <!-- Core scripts -->
  <script src="/assets/vendor/libs/popper/popper.js"></script>
  <script src="/assets/vendor/js/bootstrap.js"></script>
  <script src="/assets/vendor/js/sidenav.js"></script>

  <!-- Libs -->
  <script src="/assets/vendor/libs/tinymce/tinymce.min.js"></script>
  <script src="/assets/vendor/libs/moment/moment.js"></script>
  <script src="/assets/vendor/libs/bootstrap-datepicker/bootstrap-datepicker.js"></script>
  <script src="/assets/vendor/libs/dropzone/dropzone-min.js"></script>
  <script src="/assets/vendor/libs/axios/axios.min.js"></script>
  <script src="/assets/vendor/libs/block-ui/block-ui.js"></script>
  <script src="/assets/vendor/libs/simplePagination/simplePagination.js"></script>
  <script src="/assets/vendor/libs/sortablejs/sortable.js"></script>

  <script src="/assets/js/common.js"></script>
  <script>
    $('#btn_login').off('click').on('click', function(){
      let data = {
        id: $('#id').val(),
        password: $('#password').val()
      };
      if(!data.id){
        alert('아이디를 입력하세요.');
        return;
      }
      if(!data.password){
        alert('패스워드를 입력하세요.');
        return;
      }
      requestAPI({
        method: 'post',
        url: '/api/auths/login',
        data: data,
        callback: (data)=>{
            location.href = '/admin/dashboard';
        }
      });
    });

  </script>

</body>

</html>