<!-- Layout sidenav -->
<div id="layout-sidenav" class="layout-sidenav sidenav sidenav-vertical bg-sidenav-theme">
    <ul class="sidenav-inner py-1">
        <li class="sidenav-item">
            <a href="/admin/dashboard" class="sidenav-link"><i class="sidenav-icon ion ion-md-speedometer"></i>
            <div>Dashboard</div>
            </a>
        </li>
        <li class="sidenav-item">
            <a href="javascript:void(0)" class="sidenav-link sidenav-toggle"><i class="sidenav-icon ion ion-md-quote"></i>
            <div>하나공감</div>
            </a>

            <ul class="sidenav-menu">
                <li class="sidenav-item">
                    <a href="/admin/blog/write" class="sidenav-link">
                    <div>컨텐츠 작성</div>
                    </a>
                </li>
                <li class="sidenav-item">
                    <a href="/admin/blog/list" class="sidenav-link">
                    <div>컨텐츠 목록</div>
                    </a>
                </li>
                <li class="sidenav-item">
                    <a href="/admin/blog/recommend" class="sidenav-link">
                    <div>추천 컨텐츠 설정</div>
                    </a>
                </li>
                <li class="sidenav-item">
                    <a href="/admin/blog/markup_guide" class="sidenav-link">
                    <div>마크업 가이드</div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="sidenav-item">
            <a href="javascript:void(0)" class="sidenav-link sidenav-toggle"><i class="sidenav-icon ion ion-md-settings"></i>
                <div>보험상품(다이렉트)</div>
            </a>
            <ul class="sidenav-menu">
                <li class="sidenav-item">
                    <a href="/admin/product_direct/add" class="sidenav-link">
                        <div>상품등록</div>
                    </a>
                </li>
                <li class="sidenav-item">
                    <a href="/admin/product_direct/list" class="sidenav-link">
                        <div>상품목록</div>
                    </a>
                </li>
                <li class="sidenav-item">
                    <a href="/admin/product_direct/reccomend" class="sidenav-link">
                        <div>상품추천</div>
                    </a>
                </li>
            </ul>
        </li>
        <!--
        <li class="sidenav-item">
            <a href="javascript:void(0)" class="sidenav-link sidenav-toggle"><i class="sidenav-icon ion ion-md-settings"></i>
            <div>설정</div>
            </a>

            <ul class="sidenav-menu">
                <li class="sidenav-item">
                    <a href="/admin/setting/basic" class="sidenav-link">
                    <div>일반</div>
                    </a>
                </li>
                <li class="sidenav-item">
                    <a href="/admin/setting/sitemap" class="sidenav-link">
                    <div>사이트맵</div>
                    </a>
                </li>
            </ul>
        </li>
        -->
    </ul>
</div>
  <!-- / Layout sidenav -->