<!-- Page content -->
<div class="container-fluid flex-grow-1 container-p-y">
    <h4 class="font-weight-bold py-3 mb-4">
        <span class="text-muted font-weight-light">하나공감 /</span> 컨텐츠 목록
    </h4>
    <div class="card mb-4">
        <div class="card-body">
            <div class="input-group mb-4">
                <select class="custom-select">
                  <option>카테고리</option>
                  <option>보험</option>
                  <option>금융</option>
                  <option>러아프</option>
                </select>
                <select class="custom-select">
                    <option>공개 여부</option>
                    <option>공개</option>
                    <option>비공개</option>
                </select>
                <input type="text" class="form-control" placeholder="검색어를 입력해 주세요.">
                <span class="input-group-append">
                  <button class="btn btn-secondary" type="button">검색</button>
                </span>
            </div>
            <table id="posts_tb" class="table table-striped">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>고유번호</th>
                    <th>카테고리</th>
                    <th>제목</th>
                    <th>조회수</th>
                    <th>작성일</th>
                    <th>발행일</th>
                    <th>심의필 유효기간</th>
                    <th>공개여부</th>
                  </tr>
                </thead>
                <tbody>
                  <!--
                  <tr>
                    <th scope="row">31</th>
                    <td>45</td>
                    <td>보험</td>
                    <td><a href="#">가나다라마바사아아아아아아아아아아아아아ㅏ</a></td>
                    <td>0</td>
                    <td>2022.12.12</td>
                    <td>2022.12.12</td>
                    <td>2022.12.12~2023.12.11</td>
                    <td>공개</td>
                  </tr>
                  -->
                </tbody>
            </table>
            <div class="board-paging"></div>
            <!--
            <div class="form-group" style="text-align: center;">
                <nav style="display: inline-block;">
                    <ul class="pagination">
                      <li class="page-item disabled">
                        <a class="page-link" href="javascript:void(0)">«</a>
                      </li>
                      <li class="page-item active">
                        <a class="page-link" href="javascript:void(0)">1</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="javascript:void(0)">2</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="javascript:void(0)">3</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="javascript:void(0)">4</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="javascript:void(0)">5</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="javascript:void(0)">»</a>
                      </li>
                    </ul>
                  </nav>
            </div>
            -->
        </div>
      </div>
  </div>
  <!-- / Page content -->