<!-- Page content -->
<div class="container-fluid flex-grow-1 container-p-y">
    <!--커버 이미지-->
    <input type="hidden" id="cover_image_url" value=""/>
    <input type="hidden" id="cover_video_url" value=""/>
    <h4 class="font-weight-bold py-3 mb-4">
        <span class="text-muted font-weight-light">하나공감 /</span> 컨텐츠 수정
    </h4>
    <div class="text-right mt-3 mb-3">
        <button type="button" class="btn btn-default" onclick="javascript:history.back();">취소</button>
        <button id="btn_delete" type="button" class="btn btn-danger">삭제</button>
        <button id="btn_submit" type="button" class="btn btn-primary">저장</button>
    </div>
    <form>
      <div class="row">
          <div class="col-md-8">
              <!--포스팅 내용-->
              <div class="card mb-4">
                  <h6 class="card-header">
                    포스팅 내용
                  </h6>
                  <div class="card-body">
                    <form id="form_post" method="post" enctype="multipart/form-data">
                      <div class="form-group">
                        <div class="small font-weight-semibold mb-3">카테고리 <code>*</code></div>
                        <div class="category-area"></div>
                      </div>
                      <div class="form-group">
                        <div class="small font-weight-semibold mb-3">제목 <code>*</code></div>
                        <input type="text" id="post_title" class="form-control" placeholder="제목을 입력하세요.">
                      </div>
                      <div class="form-group">
                        <div class="small font-weight-semibold mb-3">커버 미디어<code>*</code></div>
                        <div class="row">
                          <div class="col">
                            <label class="form-check form-check-inline">
                              <input name="cover_type" class="form-check-input" type="radio" value="image">
                              <span class="form-check-label">
                                이미지
                              </span>
                            </label>
                            <label class="form-check form-check-inline">
                              <input name="cover_type" class="form-check-input" type="radio" value="video">
                              <span class="form-check-label">
                                비디오
                              </span>
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                          <div class="small font-weight-semibold mb-3">커버 이미지 <code>*</code></div>
                          <div class="row">
                            <div class="col">
                              <div id="cover_image_upload" class="dropzone"></div>
                            </div>
                            <div class="col">
                              <img id="cover_image" src="" style="width: 100%;" />
                            </div>
                          </div>
                          <small class="form-text text-muted">.</small>
                      </div>
                      <div class="form-group">
                        <div class="small font-weight-semibold mb-3">커버 이미지 설명<code>*</code></div>
                        <input type="text" id="cover_image_desc" class="form-control" placeholder="커버 이미지 설명을 입력하세요.">
                      </div>
                      <div class="form-group">
                        <div class="small font-weight-semibold mb-3">커버 비디오</div>
                          <div class="row">
                            <div class="col">
                              <div id="cover_video_upload" class="dropzone">
                              </div>
                            </div>
                            <div class="col">
                              <div src="" style="width: 100%;">
                                <video id="cover_video" src="" autoplay muted controls loop width="100%"></video>
                              </div>
                            </div>
                          </div>
                          <small class="form-text text-muted">.</small>
                      </div>
                      <div class="form-group">
                          <div class="small font-weight-semibold mb-3">내용 <code>*</code></div>
                          <textarea id="html_editor"></textarea>
                      </div>
                      <div class="form-group">
                        <div class="small font-weight-semibold mb-3">본문 이미지</div>
                        <div id="contetns_image" class="dropzone"></div>
                        <small class="form-text text-muted">본문에 이미지를 자동으로 삽입합니다.</small>
                      </div>
                    </form>
                  </div>
                </div>
                <!--포스팅 내용-->
          </div>

          <div class="col-md-4">
              <div class="card mb-4">
                  <h6 class="card-header">기본 설정</h6>
                  <div class="card-body">
                    <div class="form-group">
                      <div class="row">
                        <div class="col mb-6">
                            <div class="small font-weight-semibold mb-3">공개 설정</div>
                            <label class="switcher">
                              <input id="post_visible" type="checkbox" class="switcher-input">
                              <span class="switcher-indicator">
                              <span class="switcher-yes"></span>
                              <span class="switcher-no"></span>
                              </span>
                            </label>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <div class="col mb-6">
                            <div class="small font-weight-semibold mb-3">URL 슬러그 <code>*</code></div>
                            <input type="text" class="form-control" id="url_slug">
                        </div>
                      </div>
                    </div>
                      <div class="row">
                        <div class="col mb-6">
                          <div class="small font-weight-semibold mb-3">발행일시 <code>*</code></div>
                          <input type="text" class="form-control" id="posting_date">
                        </div>
                        <div class="col mb-6">
                          <div class="small font-weight-semibold mb-3">&nbsp;</div>
                          <div class="row">
                              <div class="col mb-6">
                                <select id="posting_hour" class="form-control">
                                  <option value="">시</option>
                                  <% for(var i = 0; i < 24; i++){ %>
                                    <option value="<%= (i<10)? '0'+ i : i %>"><%= (i<10)? '0'+ i : i %></option>
                                  <% } %>
                                </select>
                              </div>
                              <div class="col mb-6">
                                <select id="posting_minute" class="form-control">
                                    <option value="">분</option>
                                  <% for(var i = 0; i < 60; i++){ %>
                                    <option value="<%= (i<10)? '0'+ i : i %>"><%= (i<10)? '0'+ i : i %></option>
                                  <% } %>
                                </select>
                              </div>
                          </div>
                        </div>
                      </div>
                  </div>

                  <h6 class="card-header">
                      Meta 정보
                    </h6>
                    <div class="card-body">
                        <div class="form-group">
                            <div class="small font-weight-semibold mb-3">Title</div>
                            <input id="meta_title" type="text" class="form-control" placeholder="제목을 입력하세요.">
                        </div>
                        <div class="form-group">
                            <div class="small font-weight-semibold mb-3">Description</div>
                            <textarea id="meta_desc" class="form-control" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <div class="small font-weight-semibold mb-3">Keyword</div>
                            <input id="meta_keyword" type="text" class="form-control" placeholder="키워드를 입력하세요.">
                        </div>
                    </div>

                    <h6 class="card-header">
                      광고심의 
                    </h6>
                    <div class="card-body">
                        <div class="form-group">
                          <div class="small font-weight-semibold mb-3">심사필 노출</div>
                          <label class="switcher">
                            <input id="is_audit" type="checkbox" class="switcher-input">
                            <span class="switcher-indicator">
                            <span class="switcher-yes"></span>
                            <span class="switcher-no"></span>
                            </span>
                          </label>
                        </div>
                        <div class="form-group">
                            <div class="small font-weight-semibold mb-3">심사필 번호</div>
                            <div class="row">
                                <div class="col-md-4">
                                    <select id="audit_year" class="form-control">
                                        <option value=""></option>
                                        
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <select id="audit_month" class="form-control">
                                      <option value=""></option>
                                      <option value="01">01</option>
                                      <option value="02">02</option>
                                      <option value="03">03</option>
                                      <option value="04">04</option>
                                      <option value="05">05</option>
                                      <option value="06">06</option>
                                      <option value="07">07</option>
                                      <option value="08">08</option>
                                      <option value="09">09</option>
                                      <option value="10">10</option>
                                      <option value="11">11</option>
                                      <option value="12">12</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <input id="audit_index" type="text" class="form-control" placeholder="번호">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="small font-weight-semibold mb-3">부여일</div>
                            <input type="text" class="form-control" id="audit_start">
                        </div>
                        <div class="form-group">
                            <div class="small font-weight-semibold mb-3">만료일</div>
                            <input type="text" class="form-control" placeholder="" disabled  id="audit_end">
                        </div>
                    </div>
              </div>
          </div>
      </div>
    </form>
</div>
<!-- / Page content -->