<!-- Page content -->
<div class="container-fluid flex-grow-1 container-p-y">
<h4 class="font-weight-bold py-3 mb-4">
    <span class="text-muted font-weight-light">하나공감 /</span> 추천 컨텐츠 설정
</h4>
<div class="input-group mb-3">
    <input id="post_idx" type="number" class="form-control" placeholder="추가할 컨텐츠 고유번호를 입력하세요.">
    <span class="input-group-append">
      <button id="btn_search" class="btn btn-secondary" type="button">추가</button>
    </span>
</div>
<div id="recommend_list" class="row">
    <!--
    <div class="col-md-3 mb-4">
        <div class="card">
            <div class="card-header">
                <h4 class="mb-0">#1</h4>
                <button type="button" class="btn btn-sm btn-danger">삭제</button>
            </div>
            <img class="card-img-top" src="/assets/images/picography-macro-paper-money-001.jpg" alt="Card image cap">
            <div class="card-body">
            <h4 class="card-title">title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-footer">
                <p class="card-text">고유번호 : 12</p>
            </div>
        </div>
    </div>
    -->
</div>

</div>
<!-- / Page content -->