<!-- Page content -->
<div class="container-fluid flex-grow-1 container-p-y">
<h4 class="font-weight-bold py-3 mb-4">
    <span class="text-muted font-weight-light">하나공감 /</span> 추천 컨텐츠
</h4>
<div class="row">
    <div class="col-md-4">
    <div class="card">
        <div class="card-header">
        <div class="form-group">
            <div class="input-group">
            <input type="text" class="form-control" placeholder="컨텐츠 고유번호를 입력하세요.">
            <span class="input-group-append">
                <button class="btn btn-secondary" type="button">저장</button>
            </span>
            </div>
        </div>
        </div>
        <img class="card-img-top" src="/assets/images/picography-macro-paper-money-001.jpg" alt="Card image cap">
        <div class="card-body">
        <p class="card-text">고유번호 : 12</p>
        <h4 class="card-title">title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    </div>
    <div class="col-md-4">
    <div class="card">
        <div class="card-header">
        <div class="form-group">
            <div class="input-group">
            <input type="text" class="form-control" placeholder="컨텐츠 고유번호를 입력하세요.">
            <span class="input-group-append">
                <button class="btn btn-secondary" type="button">저장</button>
            </span>
            </div>
        </div>
        </div>
        <img class="card-img-top" src="/assets/images/picography-macro-paper-money-001.jpg" alt="Card image cap">
        <div class="card-body">
        <p class="card-text">고유번호 : 12</p>
        <h4 class="card-title">title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    </div>
    <div class="col-md-4">
    <div class="card">
        <div class="card-header">
        <div class="form-group">
            <div class="input-group">
            <input type="text" class="form-control" placeholder="컨텐츠 고유번호를 입력하세요.">
            <span class="input-group-append">
                <button class="btn btn-secondary" type="button">저장</button>
            </span>
            </div>
        </div>
        </div>
        <img class="card-img-top" src="/assets/images/picography-macro-paper-money-001.jpg" alt="Card image cap">
        <div class="card-body">
        <p class="card-text">고유번호 : 12</p>
        <h4 class="card-title">title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    </div>
    
</div>



</div>
<!-- / Page content -->